body {
    background-color: rgb(156, 154, 154);
}

.linkeoC {
    font-family: "Kaushan Script", cursive;
    font-size: 5vw; /* Usando vw para un tamaño de fuente responsive */
    color: white;
    text-decoration: none;
    text-align: center; /* Centrar el texto */
}

.campeones {
    text-decoration: none;
    color: white;
    height: auto;
}

.titulo2 {
    font-size: 8vw; /* Usando vw para un tamaño de fuente responsive */
    width: 70%; /* Usando % para el ancho responsive */
    margin: 10px;
    font-family: "Kanit", sans-serif;
    max-height: auto; /* Establecer una altura máxima para evitar que sea demasiado alto en pantallas pequeñas */
    overflow: hidden; /* Ocultar cualquier contenido que exceda la altura máxima */
}


@media screen and (max-width: 450px) {
    .linkeoC {
        font-size: 24px; /* Tamaño de fuente ajustado para pantallas pequeñas */
    }

    .titulo2 {
        font-size: 40px; /* Tamaño de fuente ajustado para pantallas pequeñas */
        width: 90%; /* Ancho ajustado para pantallas pequeñas */
        margin: 20px 0;
    }

    .grid-conteiner {
        padding: 20px;
        gap: 10px;
    }

    h5 {
        font-size: 50px;
    }

    .grid-item {
        font-size: 40px;
    }

    .grid-item1,
    .grid-item2 {
        font-size: 18px;
    }

    .highlight {
        background-color: rgba(0, 0, 255, 0.572);
    }

    .grid-item3 {
        font-size: 20px;
    }

    h6 {
        font-size: 20px;
    }

    h3 {
        font-size: 30px;
    }

    .grid-item5 {
        font-size: 16px;
    }
}
